# LLM 配置
LLM_API_KEY=your-api-key
LLM_BASE_URL=https://token-plan-cn.xiaomimimo.com/v1
LLM_MODEL=mimo-v2.5

# ChromaDB
CHROMA_DB_URL=http://111.170.35.21:8000

# Embedding (阿里云百炼)
EMBEDDING_API_KEY=sk-1e991ef2898a47d2852b88b10b1b88xx
EMBEDDING_BASE_URL=https://llm-snvwiitgadv6zpj7.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
EMBEDDING_MODEL=text-embedding-v4
